.usersList{
text-align: center;
    height: 100%;
 display: flex;
 overflow-x: scroll;

align-items: center;
}
.usersList::-webkit-scrollbar{
    height: 12px;
    width: 12px;
}
.usersList::-webkit-scrollbar-track{
background:var(--secondary);
}

.usersList::-webkit-scrollbar-thumb{
    background-color:orange;    
    border-radius: 20px;       
    
}
.actions {
    display: flex;
  place-items: center;
  flex-flow: row;
  gap: 2rem;
  justify-content: center;
}
.actions button{
    border:none;
   width: 35%;
   border-radius: 10px;
   padding: 8px;
   font-size: 1.2em;
color:white;
cursor: pointer;
}
.actions .delete{
    background: red;
}

.actions .cancel{
    background: var(--primary);
}