.backdrop{
    top: 0;
left:50%;
    width: 60%;
margin: 0 auto;
    height: 100vh;
    z-index: 30;
    
    transform: translate(-50%,0);
    position:fixed;
    background: #17141d8a;
}
.modal{
    top: 30vh;
    background: white;
 position: fixed;
   color: black;
    z-index: 100;
    width: 30%;
    padding: 20px;
top: 20vh;
    border-radius: 12px;
   left: 35%;
    border-top:3px solid red;
    border-bottom: 3px solid var(--secondary);
    animation: slide-down 300ms ease-out forwards;
}
@keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-4rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }